.env
.venv/*
.DS_Store
.vscode/*
.remote
Output*/*
__pycache__/*
installPythonEnvironment.sh
mcp_server/.env
mcp_server/__pycache__/*
mcp_server/mcp_chatbot/server_config.json
mcp_server/mcp_chatbot/__pycache__/*
mcp_server/tigerGraph/__pycache__/*
tests/testIntegrationQueryRun.py
uv.lock
